<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Ext JS Layout Examples</title>
		<!-- Ext -->
		<script type="text/javascript" src="../../../shared/pre-define.js"></script>
		<!-- example code -->
		<link rel="stylesheet" type="text/css" href="css/data-grid.css">
		<!-- GC -->
		<!-- page specific -->
		<script type="text/javascript" src="js/data-grid.js"></script>
	</head>
	<body>
		<div id="main"></div>
	</body>

</html>
